.wrapper {
  text-align: center;
  width: 50%;
  margin: auto;
  background-color: lightgreen;
  padding: 4%;
  border-radius: 10px;
}
#list-task {
  list-style-type: none;
  text-align: left;
}
#done-task {
  list-style-type: none;
  text-align: left;
}
.profil input {
  width: 70%;
  margin: 5px;
}
#input-box {
  width: 80%;
  height: 100px;
  border-radius: 10px;
}
label {
  margin: 10px;
}
.layout {
  color: white;
  font-weight: bolder;
  width: 80%;
  height: 30px;
  margin: 7px;
  border-radius: 5px;
  background-color: #04aa6d;
  border: none;
}
.complete {
  text-decoration: line-through;
}
